@import "tailwindcss";
@import '@vue-flow/core/dist/style.css';
@plugin "@tailwindcss/typography";

@theme {
	/* Font families */
	--font-sans: "Raleway", sans-serif;
	--font-serif: "Newsreader", serif;
	--font-handwritten: "Caveat", cursive;

	/* Backgrounds */
	--bg-base: oklch(0.08 0.03 257);
	--bg-elevated: oklch(from var(--bg-base) calc(l + 0.10) c h);

	/* Text */
	--text-primary: var(--color-zinc-300);
	--text-muted: oklch(from var(--text-primary) calc(l - 0.20) c h);

	/* Accent */
	--accent-base: oklch(0.3345 0.1474 289.62);
	--accent-light: oklch(from var(--accent-base) calc(l + 0.10) c h);
	--accent-dark: oklch(from var(--accent-base) calc(l - 0.30) c h);

	/* Border */
	--border-base: oklch(0.3 0.02 264);

	/* Utility defaults */
	--default-background-color: var(--bg-base);
	--default-border-color: var(--border-base);
	--default-ring-color: var(--accent-base);
	--default-outline-color: var(--accent-base);
}

@layer base {
	h1 {
		font-size: var(--text-3xl);
	}

	h2 {
		font-size: var(--text-2xl);
	}

	h2 {
		font-size: var(--text-xl);
	}

	main {
		margin: auto;
		width: var(--container-4xl);
	}

	body {
		font-family: var(--font-sans);
		font-optical-sizing: auto;
		background-color: var(--bg-base);
		color: var(--text-primary);
	}

	hr {
		border: none;
		height: 1px;
		background: linear-gradient(90deg, transparent, var(--accent-base), transparent);
	}
}

.dot-background {
	background-image:
		radial-gradient(oklch(from var(--text-muted) l c h / 0.15) 10%, transparent 11%),
		linear-gradient(135deg, oklch(from var(--bg-base) l c h) 0%, oklch(from var(--accent-dark) l c h) 100%);
	background-size: 30px 30px, 100% 100%;
	background-repeat: repeat, no-repeat;
}

.header-active::before {
	content: "~/";
	margin-right: 0.05rem;
	color: var(--text-primary);
}

.sr-only {
	position: absolute !important;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
